#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
    font-family: arial, sans-serif;
	font-size: 20px;
}

header {
    height: 80px;
	text-align: center;
}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	margin-right: 40px;
}

a{
	color: black;
}

section{
	width: 603px;
	float: left;
	padding: 15px;
	margin-top: 15px;
	margin-right: 15px;
	background-color: #F2F2F2;
	border: 1px solid #DEDCD9;
	border-radius: 5px;
	margin-bottom: 10px;
}

.article {
	height: 120px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.article img {
	float: left;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid #DEDCD9;
}

.article a {
	font-size: 20px
}

aside {
	width: 258px;
	float: right;
	padding: 25px;
	margin-top: 15px;
	background-color: #F2F2F2;
	border: 1px solid #DEDCD9;
	border-radius: 5px;
	margin-bottom: 10px;
}

footer {
	clear: both;
    background-color: grey;
	border: 1px solid #DEDCD9;
	border-radius: 10px;
}

footer ul {
	float: left;
	list-style: none;
	padding: 0px;
	margin: 20px;
}

footer li {
	margin-right: 15px;
	display: inline;
}

text-align: right;
margin-right: 20px;
color: #777;

}
